body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: larger;
  font-family: $font4;
  overflow-y: scroll;
  min-height: 100vh;
  @include max_sm {
    font-size: medium;
  }
}

code {
  font-family: $font4;
}

main {
  max-width: 1920px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  @include min_hd {
    box-shadow:
      1px 0 rgba($c2, 0.2),
      -1px 0 rgba($c2, 0.2);
      min-height: calc(100vh - 219px);
  }
  &.navRelative {
    padding-top: 0;
  }
  &.navFixed {
    padding-top: 90px;
  }

  h1 {
    font-family: $font1;
    color: $c1;
    float: right;
    margin: 0;
    padding: 0 20px 0 0;
    font-size: inherit;
    line-height: 40px;
    font-weight: 500;
  }
  .headingContainer {
    width: 100%;
    background-color: $c4;
    height: 40px;
    h1 {
      color: $c3;
    }
  }

}

.overflow-hidden {
  overflow: hidden;
}

.hiddenText {
  position: absolute;
  right: -200vw;
  top: -200vw;
  width: 0px;
  height: 0px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#loadFront,
#load {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 25px;
  right: 90px;
}

hr {
  color: $c2;
}

svg {
  fill: $c3;
}

svg.MuiSvgIcon-root {
  fill: $c3;
}