@import "./Variables.scss";

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: larger;
  overflow: auto;
  @media only screen and (max-width: 640px) {
    font-size: medium;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.clearfloat {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  height: 0px;
  width: 0px;
  border: 0px none;
  line-height: 0px;
}

.hiddentext {
  position: absolute;
  right: -200vw;
  top: -200vw;
  width: 0px;
  height: 0px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#loadfront {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 150px;
  right: 40px;
  @media only screen and (max-width: 1200px) {
    top: 0;
  }
}

a {
  transition: 0.2s ease-in-out color;
}

main {
  max-width: 1920px;
  margin: auto;
  position: relative;
  min-height: 89.5vh;
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 1921px) {
    box-shadow: 1px 0 rgba($c4, 0.2), -1px 0 rgba($c4, 0.2);
  }
  &::after {
    position: absolute;
    content: "";
    background-image: linear-gradient(-90deg, $c1 0%, $c6 50%);
    top: 0;
    right: 70%;
    bottom: 0;
    left: 0;
    z-index: -1;
    @media only screen and (max-width: 1200px) { 
      right: 0;
    }
  }
  h1 {
    font-family: $font1;
    color: $c1;
    float: right;
    margin: 0;
    padding-right: 20px;
    font-size: inherit;
    line-height: 40px;
    font-weight: 500;
  }
  .headingCont {
    width: 100%;
    background-color: $c3;
    background-image: linear-gradient(270deg, $c3 0%, $c6 45%, $c6 100%);
    @media only screen and (max-width: 1200px) { 
      background-image: linear-gradient(270deg, $c3 0%, $c6 100%);
    }
    height: 40px;
  }
  #load {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    right: 40px;
    @media only screen and (max-width: 1200px) {
      top: -90px;
    }
  }
  @media only screen and (min-width: 1201px) {
    &.navRelative {
      padding-top: 0;
    }
    &.navFixed {
      padding-top: 40px;
    }
  }
}
