@import "./Variables.scss";
#di {
  min-height: 100vh;
}

button {
  outline: none;
}

h1 {
  font-family: $font1;
  color: $c1;
  float: right;
  margin: 0;
  padding-right: 20px;
  padding-top: 15px;
  font-size: 80%;
}

h2 {
  font-size: 100%;
}

.rh {
  width: 100%;
  background-color: $c3;
  background-image: linear-gradient(
    270deg,
    $c3 0%,
    $c6 45%,
    $c6 100%
  );
  height: 60px;
  font-size: 120%;
}

.rh h1 {
  padding-top: 15px;
}

footer {
  width: 100%;
  height: 65px;
  background-image: linear-gradient(180deg, $c1 70%, $c6 95%);
  border-top: solid $c4 2px;
  border-bottom: solid $c4 2px;
  margin-top: 4px;
  margin-bottom: 4px;
}

footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clearfloat {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  height: 0px;
  width: 0px;
  border: 0px none;
  line-height: 0px;
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 179%;
  }
}

@media only screen and (max-width: 992px) {
  body {
    font-size: 140%;
  }
}
