@import "./Variables.scss";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $c11;
  max-width: 1920px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 160%;
  }
}

@media only screen and (max-width: 992px) {
  body {
    font-size: 140%;
  }
}

@media only screen and (min-width: 1920px) {
  body {
    box-shadow: 1px 0 rgba($c4, 0.2), -1px 0 rgba($c4, 0.2);
  }
}