@import "@fontsource/roboto";

$c1: white;
$c2: rgba(0, 0, 0, 0.6);
$c3: black;
$c4: rgba(112,128,144,0.875);
$c5: #474747;
$c6: #ececec;
$c7: red;
$c8: purple;
$c9: rgba(255, 255, 255, 0.4);
$c10:gold;
$c11:ghostwhite;
$c12:rgba(240, 255, 240, 0.15);



$font1: "Arial Black", Gadget, sans-serif;
$font2: "Impact, Charcoal, sans-serif";
$font3: "Roboto", Helvetica, Arial, sans-serif;
$font4: "Tahoma", Geneva, sans-serif;

