@import "@fontsource/quicksand";
@import "@fontsource/mulish";
@import "@fontsource/ibm-plex-sans"; 
@import "@fontsource/inter"; 

$c1: white;
$c2: rgba(0, 0, 0, 0.6);
$c3: black;
$c4: rgb(100, 115, 129);
$c5: rgb(61, 61, 61);
$c6: lighten(#ececec, 3.375%);
$c7: red;
$c8: gold;
$c9: rgba(255, 255, 255, 0.75);
$c10: $c8;
$c11:ghostwhite;
$c12:rgba(240, 255, 240, 0.15);
$c13: rgb(133, 133, 133);

$font2: "Quicksand";
$font1: "IBM Plex Sans";
$font3: "Mulish";
$font4: "Inter";
