footer {
  width: 100%;
  border-top: solid $c2 2px;
  border-bottom: solid $c2 2px;
  margin: 4px 0;
  display: none;
  @include min_xl {
    height: 65px;
  }
  &.load {
    display: block;
  }
  &.loading {
    display: none;
  }
  ul {
    list-style-type: none;
    text-align: center;
    margin: 10px auto;
    background-color: transparent;
    padding: 0;
    font-size: 20px;
    font-family: $font4;
    @include min_xl {
      margin: auto;
      li.none {
        display: none;
      }
    }
    @include max_sm {
      font-size: medium;
    }
    .block {
      display: block;
    }
    li {
      display: inline-block;
      height: 23px;
      padding: 0 5px;
      color: $c3;
      svg {
        transition: 0.2s ease-in-out fill;
        &:hover {
          fill: $c5;
        }
      }
      img {
        vertical-align: middle;
        @include min_xl {
          padding: 2.5px;
        }
      }
      a {
        color: $c3;
        cursor: pointer;
        background-color: transparent;
        border: none;
        text-decoration: none;
        transition: 0.2s ease-in-out color;
        &:hover,
        &:focus {
          color: $c5;
        }
      }
      &#logoFooter {
        height: initial;
        a {
          display: block;
          width: fit-content;
          margin: auto;
        }
      }
    }
  }
}
