footer {
  width: 100%;
  border-top: solid $c2 2px;
  border-bottom: solid $c2 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: none;
  @media only screen and (min-width: 1200px) {
    height: 65px;
  }
  &.load {
    display: block;
  }
  &.loading {
    display: none;
  }
  ul {
    list-style-type: none;
    text-align: center;
    margin: 10px auto;
    background-color: transparent;
    padding: 0;
    font-size: 20px;
    font-family: $font4;
    @media only screen and (min-width: 1200px) {
      margin: auto;
      li.none {
        display: none;
      }
    }
    @media only screen and (max-width: 640px) {
      font-size: medium;
    }
    .block {
      display: block;
    }
    li {
      display: inline-block;
      height: 23px;
      padding: 0 5px;
      color: $c3;
      img {
        vertical-align: middle;
        @media only screen and (min-width: 1200px) {
          padding: 2.5px;
        }
      }
      a {
        color: $c3;
        cursor: pointer;
        background-color: transparent;
        border: none;
        text-decoration: none;
        &:hover {
          color: $c5;
          cursor: pointer;
        }
      }
      svg {
        fill: $c3;
      }
      &#logoFooter {
        height: initial;
        a {
          display: block;
          width: fit-content;
          margin: auto;
        }
      }
    }
  }
}
