/* silde */

.slideHome {
  img {
    height: calc(100vh - 150px);
    width: 100%;
    box-shadow: 0 0 7.5px $c2;
    margin: auto;
    object-fit: cover;
    object-position: right center;
    @include max_xl {
      height: calc(100vh - 90px);
      object-position: center;
      min-height: 425px;
    }
  }
  .slideP {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: transparentize($c3, 0.88);
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    p {
      color: $c3;
      font-size: clamp(20px, 3vw, 30px);
      font-weight: 500;
      width: 80%;
      margin: 0 auto;
    }
  }
  .welcomeContainer {
    width: 100%;
  }
  .welcomeOne {
    font-family: $font3;
    margin: 25px 0 0 80px;
    padding: 2px 8px;
    font-weight: 500;
    color: $c3;
    background-color: $c1;
    border-radius: 5px;
    line-height: 35px;
    display: flex;
    width: fit-content;
    @include max_xl {
      margin: 25px 0 0 25px;
    }
    @include max_sm {
      line-height: 25px;
    }
    .my-svg svg {
      stroke: $c3;
      stroke-width: 3px;
      fill: none;
      vertical-align: bottom;
      overflow: visible;
      width: 35px;
      height: 35px;
      @include max_sm {
        width: 25px;
        height: 25px;
      }
    }
  }
  .welcomeTwo {
    background-color: $c1;
    border-radius: 5px;
    margin: 8px 0 0 80px;
    padding: 47px 80px;
    background-image: url(https://candid.s3.ap-southeast-2.amazonaws.com/welcome.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition:
      transform 0.3s linear,
      background-color 0.3s linear;
    transform: translate(0, 0);
    width: fit-content;
    @include max_xl {
      margin: 8px 0 0 25px;
    }
    @include max_sm {
      padding: 35px 59px;
    }
    &:hover {
      transform: translate(4%, 2%);
      background-color: $c5;
    }
  }
}

/* overlay expanded */

.overlayExpanded {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transform: translateX(100%);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.03, 0.5, 0.25, 0.6);
  background-color: $c1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  scrollbar-color: $c3 $c4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: $c3;
  &::before {
    position: absolute;
    content: " ";
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
    background-color: $c4;
    z-index: -0;
  }
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-thumb {
    background: $c3;
  }
  &::-webkit-scrollbar-track {
    background: $c4;
  }
  @include max_md {
    overflow-y: hidden;
  }
  > * {
    will-change: opacity;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.03, 0.5, 0.25, 0.6);
  }
  .overlayInner {
    background-color: $c4;
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 90%;
    max-width: 1000px;
    @include max_md {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: nowrap;
      overflow-y: auto;
    }
  }
  .overlayHeading {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background-color: $c4;
    width: 100%;
    @include max_md {
      position: sticky;
      top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  .overlayClose {
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
    transition: 0.2s ease-in-out fill;
    cursor: pointer;
    &:hover {
      fill: $c5;
    }
  }
  .scrollContainer {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    scrollbar-color: $c3 transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background: $c3;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    img {
      max-height: 100%;
      width: 42.5%;
      box-shadow: 0 0 1px $c1;
      border-radius: 3.75px;
      object-fit: cover;
      margin: 12px 0;
      @include max_md {
        width: 80%;
        max-height: initial;
      }
      &:nth-child(1) {
        @include max_md {
          margin: 25px 0;
        }
      }
      &:nth-child(2) {
        @include max_md {
          margin: 0 0 25px 0;
        }
      }
    }
  }
  .buttonContainer {
    background-color: $c4;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
  }
  .overlayNext {
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
    transition: 0.2s ease-in-out fill;
    cursor: pointer;
    &:hover {
      fill: $c5;
    }
  }
  &.fixed {
    transform: translateX(0);
    > * {
      opacity: 1;
    }
  }
  &.fixed-delay {
    transition-delay: 0.5s;
    transform: translateX(0);
    > * {
      opacity: 1;
    }
  }
}

/* overlay backdrop */

.overlayBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $c4;
  transition: background-color 0.5s cubic-bezier(0.66, 0.01, 0.27, 0.84);
  z-index: 998;
  box-sizing: border-box;
  transform: translateX(100%);
  &.overlay-transition {
    transform: translateX(0);
    background-color: $c4;
  }
}

/* overlay */

.overlayContainer {
  margin: auto;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding: 220px 0;
  @include max_xl {
    padding: 17% 0;
  }
  @include max_sm {
    align-items: center;
    padding: 3% 0;
  }
  .imgContainer {
    display: none;
    width: 46%;
    margin: auto;
    cursor: pointer;
    @include max_xl {
      width: 72.5%;
    }
    @include max_sm {
      margin: 7.5% auto;
      width: 75%;
    }
    &.grey img {
      filter: grayscale(75%);
      opacity: 0.9;
    }
    &:hover .expandImg {
      fill: $c5;
    }
  }
  .expandImg {
    vertical-align: sub;
    font-size: 1.25em;
    color: $c3;
    display: none;
    align-self: flex-end;
    margin: 0 auto;
    align-self: center;    
    transition: 0.2s ease-in-out fill;
    @include max_sm {
      font-size: 1.5em;
      margin: 30px auto;
    }
  }
  .fillImg {
    max-width: 300px;
    width: 40%;
    display: flex;
    overflow: hidden;
    clip-path: inset(0 10px 0 round 25px 0);
    @include max_sm {
      width: 100%;
      margin: 5% 0;
      max-width: initial;
    }
  }
  .overlayImg {
    width: 100%;
    object-fit: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition:
      filter 0.3s linear,
      opacity 0.3s linear;
    opacity: 1;
    will-change: opacity, filter;
    filter: grayscale(0%);
    @include max_sm {
      height: 66vw;
    }
  }
  .flex {
    display: flex;
    justify-content: center;
    @include max_sm {
      flex-direction: column;
      align-items: center;
    }
  }
  #left {
    left: 12%;
    @include max_xl {
      left: 3%;
    }
    @include max_sm {
      left: 0.5%;
    }
  }
  #right {
    right: 12%;
    @include max_xl {
      right: 3%;
    }
    @include max_sm {
      right: 0.5%;
    }
  }
  #left,
  #right {
    position: absolute;
    top: 50%;
    opacity: 0.75;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s ease-in-out fill;
    @include max_sm {
      top: initial;
      width: 12%;
    }
    &:hover {
      fill: $c5;
    }
  }
}

/* info */

.infoContainer {
  box-shadow: 0 0 7.5px $c2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(-90deg, $c1 12%, $c4 100%);
  @include max_lg {
    padding:  0 0 5% 0;
    flex-direction: column-reverse;
  }
  .infoOne {
    display: flex;
    width: 17%;
    min-width: 280px;
    img {
      width: 100%;
      height: 100%;
      object-position: bottom;
      object-fit: cover;
      position: relative;
      clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
      @include max_lg {
        margin: 25px auto;
        width: 150px;
        height: 150px;
        min-width: initial;
        object-position: center;
        object-fit: contain;
        clip-path: initial;
        box-shadow: 0 0 7.5px $c2;
        border-radius: 100%;
      }
    }
  }
  .infoTwo {
    width: 57.7%;
    color: $c3;
    @include max_xl {
      margin: 0 5% 0 0;
    }
    @include max_lg {
      margin: 0;
      padding: 5% 0 0 0;
      width: 90%;
    }
    svg {
      margin: 0 10px;
    }
    h1 {
      width: 100%;
      text-align: right;
      font-family: $font2;
      color: $c3;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }
    p {
      color: $c3;
      padding: 3%;
      text-align: center;
      font-style: oblique;
      font-family: $font4;
      @include max_xl {
        br {
          display: none;
        }
      }
    }
  }
}

/* card */

.cardContainer {
  max-width: 1312px;
  padding: 200px 2%;
  z-index: 998;
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin: auto;
  @include max_lg {
    padding: 125px 2%;
  }
  span img {
    margin: 0 0 0 10px;
    vertical-align: middle;
  }
  hr {
    width: 100%;
  }
  p {
    margin: 0 auto 3% auto;
    padding: 0 15px;
    text-align: center;
    font-family: $font3;
    font-weight: 500;
    text-shadow: 0 0 0.5px $c2;
  }
  h2 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: $font2;
    font-weight: 500;
    display: inline;
    color: $c3;
  }
  .cardOne {
    max-width: 339px;
    margin: auto;
    color: $c3;
    padding: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    a {
      color: $c3;
      float: left;
      margin: 0 0 0 30px;
      width: 30px;
      font-weight: 900;
      font-size: 15px;
      height: 24px;
      transition: 0.2s ease-in-out color;
      &:hover {
        color: $c5;
      }
    }
    svg:nth-child(4) {
      float: left;
      margin: 0 0 0 30px;
    }
    svg:nth-child(5) {
      font-size: 50px;
      align-self: center;
    }
  }
  .cardTwo {
    align-self: flex-end;
    img {
      width: 50px;
      height: 50px;
    }
  }
}


/* enq */

.enquiryContainer {
  background-color: $c4;
  h2 {
    font-family: $font1;
    color: $c1;
    background-color: $c3;
    height: 40px;
    width: calc(100% - 20px);
    text-align: end;
    margin: 0;
    padding: 0 20px 0 0;
    line-height: 40px;
    font-size: inherit;
    font-weight: 500;
  }
  input::-webkit-input-placeholder,
  input::placeholder,
  textarea::-webkit-input-placeholder,
  textarea::placeholder {
    color: $c6;
    opacity: 1;
  }
  .MuiFormControl-root {
    margin: 0 25px 25px 25px;
    @include max_md {
      width: calc(100% - 50px);
    }
  }
  .MuiFormControl-fullWidth {
    margin: 0;
    width: 100%;
  }
  .react-select__menu-list,
  .MuiInputBase-multiline {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: $c3 transparent;
    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background: $c3;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}

@keyframes slide1 {
  0% {
    transform: translate(-10px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
