@import "../Variables.scss";

.aboutContOne {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 60px 0;
  .grid {
    &:nth-child(1) {
      width: 36%;
      padding: 0 4% 0 4%;
      @media only screen and (max-width: 640px) {
        width: 100%;
        padding: 0;
      }
      h2 {
        font-family: $font2;
        color: $c3;
        margin-left: 10px;
        font-size: inherit;
        font-weight: 500;
        svg {
          vertical-align: sub;
          float: right;
          margin-right: 25px;
        }
      }
      p {
        color: $c1;
        background-color: $c2;
        border: 2px solid $c2;
        border-radius: 2.5px;
        font-family: $font3;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
        background-image: url(./img/handmade-paper.png);
        background-blend-mode: hard-light;
        @media only screen and (max-width: 1200px) {
          border-radius: 0;
        }
        @media only screen and (max-width: 640px) {
          width: calc(92% - 24px);
          margin: auto;
        }
        span {
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
        }
      }
    }
    &:nth-child(2) {
      width: 52%;
      padding-right: 4%;
      @media only screen and (max-width: 640px) {
        width: 92%;
        padding: 0;
      }
      div {
        border-radius: 10px;
        @media only screen and (max-width: 640px) {
          border-radius: 0;
        }
      }
    }
  }
}

.aboutContTwo {
  margin: 20px auto auto auto;
  width: 100%;
  max-width: 1200px;
  h2 {
    font-family: $font2;
    font-size: inherit;
    color: $c3;
    margin-left: 10px;
    margin: auto;
    width: calc(100% - 10px);
    font-weight: 500;
    svg {
      float: right;
      color: $c2;
      margin-right: 25px;
    }
  }
  h3 {
    font-family: $font2;
    color: $c1;
    text-align: right;
    font-size: 90%;
    font-weight: 500;
    margin: 0;
  }
  #topSpan {
    width: 100%;
    margin: 25px auto auto auto;
    display: block;
    text-align: right;
  }
  span {
    display: inline-block;
  }
  img {
    width: 25%;
    display: block;
    margin: 8% auto;
    @media only screen and (max-width: 1365px) {
      width: 66%;
    }
  }
  #picContainer {
    position: relative;
    clip-path: inset(10px 10px 25px round 25px 0);
    float: left;
    width: 55%;
    height: 379px;
    background-color: $c1;
    left: -10px;
    @media only screen and (max-width: 1365px) {
      float: none;
      margin: 15px auto 70px auto;
      width: initial;
      height: initial;
      left: initial;
      padding: 34%;
    }
    #pic {
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/about.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: grayscale(100%);
      clip-path: inset(10px 10px 25px round 25px 0);
    }
  }
  #picSpan {
    width: 40%;
    padding-left: 5%;
    margin-top: 25px;
    text-align: right;
    height: 244px;
    @media only screen and (max-width: 1365px) {
      padding-left: 0;
      width: 100%;
      margin: auto;
      height: initial;
    }
  }
  button {
    background-color: transparent;
    outline: none;
    padding: 20px;
    font-size: 80%;
    color: $c1;
    border: 1px solid $c1;
    border-radius: 100px;
    display: block;
    margin: 25px 2.5% 25px auto;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: $c1;
      border: 1px solid $c2;
      color: $c5;
    }
    @media only screen and (max-width: 1365px) {
      margin: 25px auto 25px 2.5%;
    }
  }
  #readMoreOne,
  #readMoreTwo {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    text-align: justify;
    font-size: medium;
  }
}
