@import "../Variables.scss";

.blogHeading {
  width: 100%;
  max-width: 1204px;
  margin: 80px auto 0 auto;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  background-color: $c3;
  @media only screen and (max-width: 1200px) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: auto;
  }
}

.blogCont {
  width: 100%;
  border-left: 2px solid $c3;
  border-right: 2px solid $c3;
  border-bottom: 2px solid $c3;
  max-width: 1200px;
  width: calc(100% - 4px);
  margin: 0 auto 80px auto;
  @media only screen and (max-width: 1200px) {
    margin: auto;
  }
  .blogResponse {
    overflow-y: auto;
    scrollbar-color: $c3 $c1;
    color: $c6;
    position: relative;
    overscroll-behavior: none;
    min-height: calc(100vh - 160px);
    @media only screen and (max-width: 1200px) {
      min-height: 100vh;
    }
    .sticky {
      height: 200px;
      overflow: visible;
      position: sticky;
      top: 0;
      z-index: 3;
      opacity: 0.2;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 200px;
        background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/stickyTop.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: $c1;
    }
    &::-webkit-scrollbar-thumb {
      background: $c3;
    }
    table {
      padding: 0 20px;
      position: relative;
      z-index: 4;
      width: 100%;
      margin-bottom: 50px;
      td {
        font-size: inherit;
        width: 100%;
      }
      tr {
        display: flex;
        margin: 10px auto;
      }
      img {
        margin: auto 0;
        display: inline-block;
        width: 50%;
        max-width: 150px;
      }
      hr {
        width: 60%;
        margin: 25px auto;
      }
      .center {
        text-align: center;
        padding-top: 50px;
      }
    }
  }
  .accordianHeading {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    h2 {
      line-height: 40px;
      font-family: $font1;
      color: $c1;
      float: right;
      font-size: inherit;
      margin: 0;
      padding-right: 20px;
      font-weight: 500;
    }
  }
  .MuiButtonBase-root {
    background-color: $c3;
  }
  .MuiAccordionDetails-root {
    padding: 0;
  }
  .MuiPaper-root.MuiAccordion-root {
    margin: 0;
  }
  .MuiFormControl-root {
    display: flex;
    align-items: flex-end;
    .MuiInputBase-root {
      width: fit-content;
      margin: auto 0 2.5px auto;
      @media only screen and (max-width: 640px) {
        margin: auto auto 25px auto;
        width: calc(100% - 50px);
      }
    }
  }
  form {
    input::-webkit-input-placeholder,
    input::placeholder,
    textarea::-webkit-input-placeholder,
    textarea::placeholder {
      color: $c6;
      opacity: 1;
    }
  }
  .formAdd {
    width: 100%;
    label[for="avatar"] {
      display: block;
      width: fit-content;
      margin: 25px auto;
    }
    input[type="file"] {
      border: 1px solid $c2;
      border-radius: 3px;
      margin: auto;
      padding: 4px 8px;
      color: $c3;
      background-color: $c1;
      display: block;
      width: 75%;
      max-width: 300px;
      cursor: pointer;
      &::file-selector-button {
        background-color: $c1;
        border: 1px solid $c3;
        color: $c3;
        padding: 8px;
        border-radius: 3px;
      }
    }
    .MuiInputBase-root {
      @media only screen and (max-width: 640px) {
        width: calc(100% - 50px);
        margin: auto auto 25px auto;
      }
    }
    .MuiInputBase-multiline {
      scrollbar-color: $c3 $c1;
      width: 100%;
      @media only screen and (max-width: 640px) {
        width: calc(100% - 50px);
      }
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background: $c1;
      }
      &::-webkit-scrollbar-thumb {
        background: $c3;
      }
    }
  }
  .formRemove {
    width: 100%;
    margin: auto;
    padding-top: 25px;
    .MuiFormControl-root {
      .MuiInputBase-root {
        width: calc(100% - 50px);
        margin: auto auto 25px auto;
      }
    }
  }
}
