@import "../Variables.scss";

.blogHeading {
  max-width: 1204px;
  margin: 60px auto 0 auto;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  @media only screen and (max-width: 1200px) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: auto;
  }
}

.blogCont {
  width: 100%;
  border-left: 2px solid $c2;
  border-right: 2px solid $c2;
  border-bottom: 2px solid $c2;
  background-color: $c5;
  max-width: 1200px;
  width: calc(100% - 4px);
  margin: 0 auto 60px auto;
  background-image: url(./img/handmade-paper.png);
  background-blend-mode: color;
  @media only screen and (max-width: 1200px) {
    margin: auto;
  }
  .blogResponse {
    overflow-y: scroll;
    scrollbar-color: $c3 $c1;
    color: $c1;
    position: relative;
    overscroll-behavior: none;
    min-height: calc(100vh - 160px);
    @media only screen and (max-width: 1200px) {
      min-height: 100vh;
    }
    .sticky {
      height: 200px;
      @media only screen and (max-width: 1200px) {
        height: 60px;
      }
      overflow: visible;
      position: sticky;
      top: 0;
      z-index: 3;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 200px;
        background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/svg0.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: $c1;
    }
    &::-webkit-scrollbar-thumb {
      background: $c3;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $c7;
    }
    table {
      padding: 0 1%;
      position: relative;
      z-index: 4;
      width: 100%;
      margin-bottom: 50px;
      td {
        font-size: inherit;
      }
      hr {
        width: 60%;
        margin: 25px 0;
      }
      .center {
        text-align: center;
      }
    }
  }
  .button {
    background-image: url(./img/handmade-paper.png);
    background-blend-mode: color-burn;
  }
  .accordianHeading {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    h2 {
      line-height: 40px;
      font-family: $font1;
      color: $c1;
      float: right;
      font-size: inherit;
      margin: 0;
      padding-right: 20px;
      font-weight: 500;
    }
  }
  .MuiFormControl-root {
    display: flex;
    align-items: flex-end;
    .MuiInputBase-root {
      width: fit-content;
      margin: auto 0 2.5px auto;
      @media only screen and (max-width: 640px) {
        margin: auto auto 25px auto;
        width: calc(100% - 50px);
      }
    }
  }
  .formAdd {
    width: 100%;
    background-color: $c5;
    background-image: url(./img/handmade-paper.png);
    background-blend-mode: color;
    color: $c1;
    label[for="avatar"] {
      display: block;
      width: fit-content;
      margin: 25px auto;
    }
    input[type="file"] {
      border: 1px solid $c9;
      border-radius: 3px;
      margin: auto;
      padding: 4px 8px;
      color: $c3;
      background-color: $c1;
      display: block;
      width: 75%;
      max-width: 300px;
      cursor: pointer;
      &::file-selector-button {
        background-color: $c1;
        border: 1px solid $c3;
        color: $c3;
        padding: 8px;
        border-radius: 3px;
      }
    }
    .MuiFormControl-fullWidth {
      display: inline-flex;
      align-items: initial;
      .MuiInputBase-root {
        width: 100%;
        margin: auto;
      }
      .MuiInputBase-multiline {
        scrollbar-color: $c3 transparent;
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background: $c3;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: $c7;
        }
      }
    }
  }
  .formRemove {
    width: 100%;
    margin: auto;
    background-color: $c5;
    background-image: url(./img/handmade-paper.png);
    background-blend-mode: color;
    color: $c1;
    padding-top: 25px;
    .MuiFormControl-root {
      .MuiInputBase-root {
        width: calc(100% - 50px);
        margin: auto auto 25px auto;
      }
    }
  }
}
