@import "../Variables.scss";

.blogCont {
  width: 100%;
  background-color: $c5;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-width: 1200px;
  margin: 60px auto;
  @media only screen and (max-width: 1200px) {
    margin: 0 auto;
  }
  .blogHeading {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    @media only screen and (max-width: 1200px) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  .blogResponse {
    scrollbar-face-color: $c3;
    scrollbar-track-color: $c1;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: $c3 $c1;
    color: $c1;
    width: calc(100% - 4px);
    border-left: 2px solid $c2;
    border-right: 2px solid $c2;
    border-bottom: 2px solid $c2;
    min-height: caLc(89.5vh - 170px);
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: $c1;
    }
    &::-webkit-scrollbar-thumb {
      background: $c3;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $c7;
    }
  }
  table {
    padding: 0 1%;
    th {
      float: left;
      color: $c1;
    }
    td {
      font-size: inherit;
    }
  }
  .accordianHeading {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    h2 {
      line-height: 40px;
      font-family: $font1;
      color: $c1;
      float: right;
      font-size: inherit;
      margin: 0;
      padding-right: 20px;
    }
  }
  .MuiFormControl-root-com {
    float: right;
    width: 40%;
    padding-left: 60%;
    @media only screen and (max-width: 1200px) {
      padding-left: 1%;
      float: none;
      width: 98%;
    }
  }
  .formAdd {
    width: 100%;
    background-color: $c5;
    color: $c1;
    overflow: hidden;
    svg:nth-child(2) {
      font-size: 35px;
      padding: 15px;
      float: left;
    }
    .custom-file-input[type="file"] {
      border: 1px solid $c9;
      border-radius: 3px;
      padding: 5px 8px;
      cursor: pointer;
      width: 35%;
      @media only screen and (max-width: 1200px) {
        width: 90%;
      }
      &::-ms-browse {
        background-color: $c1;
        margin: 0px;
        padding: 0px;
        border: 0px;
      }
      &::-webkit-file-upload-button {
        background-color: $c1;
        margin: 0px;
        padding: 0px;
        border: 0px;
      }
    }
    .MuiFilledInput-multiline {
      scrollbar-face-color: $c3;
      scrollbar-track-color: $c1;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-color: $c3 $c1;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background: $c1;
      }
      &::-webkit-scrollbar-thumb {
        background: $c3;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $c7;
      }
    }
  }
  .formRemove {
    width: 100%;
    margin: auto;
    background-color: $c5;
    color: $c1;
    overflow: hidden;
    padding-top: 10px;
  }
}