@import "../Variables.scss";

.contactContOne {
  margin: 60px auto 60px auto;
  max-width: 1200px;
  width: 100%;
  .contactOne {
    float: left;
    background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/cont.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8%;
    width: 8%;
    margin-left: 4%;
    @media only screen and (max-width: 640px) {
      float: none;
      margin: 10% auto;
      padding: 85px;
    }
  }
  .contactTwo {
    float: right;
    margin-right: 8%;
    @media only screen and (max-width: 640px) {
      float: none;
      margin: auto;
      text-align: left;
      word-wrap: break-word;
    }
    h2 {
      width: calc(100% - 10px);
      font-family: $font2;
      color: $c3;
      margin-left: 10px;
      font-size: inherit;
      margin: auto;
      font-weight: 500;
      svg {
        color: $c2;
        margin-right: 25px;
        float: right;
        font-size: 24px;
      }
    }
    p {
      color: $c1;
      background-color: $c2;
      border: 2px solid $c2;
      border-radius: 2.5px;
      padding: 10px;
      font-family: $font3;
      min-width: 355px;
      margin-top: 0.83em;
      background-image: url(./img/handmade-paper.png);
      background-blend-mode: hard-light;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      @media only screen and (max-width: 640px) {
        border-radius: 0;
        width: calc(92% - 24px);
        margin: 1em auto auto auto;
        min-width: initial;
      }
      div {
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
      a {
        color: $c1;
        text-decoration: none;
        height: 55px;
        display: flex;
        align-items: center;
        &:hover,
        &:focus {
          color: $c8;
        }
      }
      svg {
        color: $c1;
        padding: 0 0 0 5px;
        font-size: 25px;
        float: none;
        vertical-align: bottom;
        transition: 0.2s ease-in-out color;
        &:hover {
          color: $c8;
          cursor: pointer;
        }
      }
    }
  }
}

.contactContTwo {
  max-width: 1200px;
  margin: auto;
  h2 {
    width: calc(100% - 10px);
    font-family: $font2;
    color: $c3;
    margin-left: 10px;
    font-size: inherit;
    margin: auto;
    font-weight: 500;
    svg {
      color: $c2;
      margin-right: 25px;
      float: right;
      font-size: 24px;
    }
  }
  #contactResponse {
    text-align: center;
    display: inline-block;
  }
}
