@import "../Variables.scss";

.contactContTwo svg, .contactTwo h2 svg {
  color: $c2;
  margin-right: 25px;
  float: right;
}

.contactTwo h2,
.contactContTwo h2 {
  width: calc(100% - 10px);
  font-family: $font2;
  color: $c3;
  margin-left: 10px;
  margin-bottom: 0;
}

.contactContOne {
  margin: 60px auto auto auto;
  max-width: 1200px;
  width: 100%;
}

.contactOne {
  float: left;
  background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/cont.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10%;
  width: 1%;
  margin-left: 5%;
  @media only screen and (max-width: 1200px) {
    float: none;
    margin: auto;
    padding: 85px;
  }
}

.contactTwo {
  float: left;
  margin-left: 20%;
  @media only screen and (max-width: 1200px) {
    float: none;
    margin: auto;
    text-align: left;
    word-wrap: break-word;
  }
  p {
    color: $c1;
    background-color: $c4;
    border: 2px solid $c2;
    border-radius: 2.5px;
    padding: 25px;
    font-family: $font1;
    min-width: 555px;
    margin-top: 0.83em;
    @media only screen and (max-width: 1200px) {
      border-radius: 0;
      padding: 0;
      font-size: initial;
      min-width: initial;
    }
  }
  a {
    color: $c1;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $c8;
    }
  }
  svg {
    color: $c1;
    padding: 0 0 2.5px 20px;
    font-size: 35px;
    float: none;
    &:hover {
      color: $c8;
      cursor: pointer;
    }
  }
}

#contactResponse {
  text-align: center;
  display: inline-block;
}