@import "../Variables.scss";

.galleryHeading {
  max-width: 1204px;
  margin: 80px auto auto auto;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  @media only screen and (max-width: 1200px) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: auto;
  }
}

#galleryCont {
  background-color: $c5;
  border-left: 2px solid $c2;
  border-right: 2px solid $c2;
  border-bottom: 2px solid $c2;
  padding-bottom: 140px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 4px);
  max-width: 1200px;
  margin: 0 auto 80px auto;
  position: relative;
  background-image: url(https://candid.s3.ap-southeast-2.amazonaws.com/texture.png);
  background-blend-mode: color;
  min-height: calc(100vh - 90px);
  @media only screen and (max-width: 1200px) {
    min-height: 100vh;
    margin: auto;
    padding-bottom: 80px;
  }
  .sticky {
    height: 200px;
    overflow: visible;
    position: sticky;
    top: 0;
    z-index: 0;
    @media only screen and (max-width: 1200px) {
      height: 100px;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 200px;
      background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/stickyTop.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  .slickGallery {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      min-height: 600px;
      height: 75vh;
      object-fit: cover;
      border: 2px solid $c2;
      box-sizing: border-box;
      @media only screen and (max-width: 640px) {
        height: 55vh;
        min-height: initial;
      }
    }
    .slick-next,
    .slick-prev {
      position: static;
    }
    .slick-list {
      width: calc(80% - 40px);
      margin: 0 5%;
    }
    .slick-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
