@import "~react-image-gallery/styles/css/image-gallery.css";

#gl {
  margin: auto;
  padding: 100px 0;
  background-color: #2d2d2d;
  min-height: 100vh;
}

.image-gallery {
  max-width: 85%;
  margin: auto;
}

.image-gallery-image {
  width: 65% !important;
}
