@import "~react-image-gallery/styles/css/image-gallery.css";
@import "../Variables.scss";

.galleryHeading {
  max-width: 1204px;
  margin: 60px auto auto auto;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  @media only screen and (max-width: 1200px) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: auto;
  }
}

#galleryCont {
  background-color: $c5;
  border-left: 2px solid $c2;
  border-right: 2px solid $c2;
  border-bottom: 2px solid $c2;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 4px);
  max-width: 1200px;
  margin: 0 auto 60px auto;
  position: relative;
  background-image: url(./img/handmade-paper.png);
  background-blend-mode: color;
  min-height: calc(100vh - 90px);
  @media only screen and (max-width: 1200px) {
    min-height: 100vh;
    margin: auto;
  }
  .wave0 {
    height: 200px;
    @media only screen and (max-width: 1200px) {
      height: 60px;
    }
    overflow: visible;
    position: sticky;
    top: 0;
    z-index: 0;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 200px;
      background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/svg0.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  .image-gallery {
    width: 100%;
    margin: 0 auto;
    .image-gallery-content { 
      width: 75%;
      margin: auto;
    .image-gallery-slide-wrapper {
      position: relative;
      margin: auto;
      padding-top: 56.25%;
      .image-gallery-slides {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid $c2;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .fullscreen {
      .image-gallery-swipe {
        padding-top: initial;
        .image-gallery-slides {
          position: relative;
          img {
            object-fit: contain;
            max-height: calc(100vh - 100px)
          }
        }
      }
    }
  }
  }
}
