@import "~react-image-gallery/styles/css/image-gallery.css";
@import "../Variables.scss";

.galleryHeading {
  max-width: 1204px;
  margin: 60px auto auto auto;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  @media only screen and (max-width: 1200px) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: auto;
  }
}

#galleryCont {
  background-color: $c5;
  border-left: 2px solid $c2;
  border-right: 2px solid $c2;
  border-bottom: 2px solid $c2;
  min-height: caLc(89.5vh - 42px);
  display: flex;
  flex-direction: column;
  width: calc(100% - 4px);
  max-width: 1200px;
  margin: 0 auto 60px auto;
  position: relative;
  padding-bottom: 60px;
  min-height: 100vh;
  background-image: url(./img/handmade-paper.png);
  background-blend-mode: color;
  @media only screen and (max-width: 1200px) {
    margin: auto;
  }
  .wave0 {
    height: 250px;
      @media only screen and (max-width: 1200px) {
        height: 60px;
      }
      overflow: visible;
      position: sticky;
      top: 0;
      z-index: 0;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 250px;
        background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/svg0.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
  }
  .image-gallery {
    .fullscreen {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media only screen and (max-width: 1200px) {
        justify-content: initial;
      }
    }
    .image-gallery-image {
      width: auto;
      object-fit: cover;
      border: 2px solid $c2;
      @media only screen and (max-width: 1200px) {
        max-width: 75vw;
        @media only screen and (orientation: landscape) {
          width: 100vw;
        }
      }
    }
  }
}
