@import "../Variables.scss";

/* silde */

.slick-slide img {
  width: 100%;
  min-height: 130px;
}

/* welcome */

.welcome {
  position: absolute;
  margin: 2% 0 0 5%;
  z-index: 997;
}

#my-svg {
  stroke: $c3;
  stroke-width: 16;
  fill: none;
  height: 50px;
  width: 50px;
  vertical-align: bottom;
  margin: 3%;
  overflow: visible;
}

#w1 {
  background-color: $c9;
  border-radius: 5px;
  animation: slide1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  width: 240px;
  padding: 0 1%;
  line-height: 40px;
}

#w1 h1 {
  font-family: $font3;
  display: inline-block;
  margin: 0;
  font-weight: 600;
  color: $c3;
  font-size: 130%;
  float: none;
  padding: 4% 0;
}

#w2 {
  background-color: $c9;
  border-radius: 5px;
  animation: slide2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin: 3% 0 0 2.5%;
  padding: 2%;
  width: 285px;
}

#w2 h2 {
  color: $c3;
  margin: 0;
  font-size: 110%;
}

.welcome h2:hover {
  text-decoration: underline;
  animation: slide2;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

/* vid */
.vid {
  text-align: center;
  margin: auto;
  width: 100%;
  position: relative;
  top: -115px;
}

.vidn {
  margin: 0 2.5% 0 2.5%;
  border-radius: 5px;
  width: 21%;
  box-shadow: 0 0 1.5px $c1;
}

.flip {
  animation: flip 0.5s ease-in-out;
}

.vt {
  background-color: $c9;
  position: absolute;
  font-family: $font3;
  color: $c3;
  width: 21%;
  top: 9.3%;
  margin-left: 2.5%;
  cursor: pointer;
  text-shadow: 0 0 0.5px $c9;
  font-size: 90%;
  font-style: italic;
  line-height: 0;
  padding: 5px 0;
}

.vt:hover {
  color:$c7;
}

#pn1:hover,
#pn2:hover {
  fill: $c7;
}

.iv {
  vertical-align: middle;
}

#pn1,
#pn2 {
  position: absolute;
  top: 50%;
  color: $c4;
  opacity: 0.75;
  fill: $c4;
}

#pn1 {
  left: 20%;
}

#pn2 {
  right: 20%;
}

/* info */

.info {
  height: 500px;
  background-color: $c12;
  box-shadow: 0 0 7.5px $c2;
}

.info0 {
  height: 100%;
  width: 200px;
  float: left;
  margin-left: 10%;
  background-color: $c12;
  box-shadow: -7.5px 0 7.5px -7.5px $c2,
  7.5px 0 7.5px -7.5px $c2;
}

.info1 {
  margin-top: 35%;
  width: 81.63%;
  height: 32.65%;
  border: 2.5px solid $c4;
  background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/info1.jpg");
  background-position: center;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.info2 {
  width: 58.5%;
  color: $c3;
  float: left;
  margin-top: 5%;
  margin-left: 6%;
}

#inf {
  color: $c3;
  margin: 0 10px;
}

.info2 h2 {
  width: 100%;
  text-align: right;
  font-family: $font2;
  color: $c3;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.info2 p {
  color: $c1;
  background-color: $c4;
  border: 2px solid $c2;
  border-radius: 2.5px;
  padding: 25px;
  text-align: center;
}

/* card */

.card {
  max-width: 1312px;
  padding: 125px 5%;
  z-index: 998;
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin: auto;
}

.card p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 26px;
  text-align: center;
  font-family: $font3;
  font-weight: 500;
  text-shadow: 0 0 0.5px $c9;
  border-radius: 7.5px;
  box-shadow: 0 0 5px $c3;
  height: 50%;
  background-color: $c1;
}
.card h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: $font2;
  font-weight: 600;
  display: inline;
}
.cardi {
  color: $c2;
  float: left;
  margin-left: 30px;
}

.cardf {
  color: $c3;
  transform: scale(3.5);
  align-self: center;
}

.card1 a {
  color: $c2;
  float: left;
  margin-left: 30px;
  width: 30px;
  font-weight: 900;
  font-size: 15px;
}

.card1 a:hover {
  color: $c8;
}

.card span img {
  margin-left: 10px;
  vertical-align: middle;
}

.card1 {
  width: 350px;
  margin: auto;
  color: $c3;
  padding: 2.5% 20px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.card2 {
  align-self: flex-end;
}

/* inq */

.inq {
  background-color: $c5;
  margin-top: 10px;
}
.www {
  width: 20%;
}

.react-select__menu-list {
  scrollbar-face-color: $c3;
  scrollbar-track-color: $c1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: $c3 $c1;
}

.MuiFilledInput-multiline {
  scrollbar-face-color: $c3;
  scrollbar-track-color: $c1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: $c3 $c1;
}

.react-select__menu-list::-webkit-scrollbar,
.MuiFilledInput-multiline::-webkit-scrollbar {
  width: 10px;
}

.react-select__menu-list::-webkit-scrollbar-thumb,
.MuiFilledInput-multiline::-webkit-scrollbar-thumb {
  background: $c3;
}

.react-select__menu-list::-webkit-scrollbar-track,
.MuiFilledInput-multiline::-webkit-scrollbar-track {
  background: $c1;
}

.react-select__menu-list::-webkit-scrollbar-thumb:hover,
.MuiFilledInput-multiline::-webkit-scrollbar-thumb:hover {
  background:$c7;
}

@keyframes slide1 {
  0% {
    transform: translate(-20px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes flip {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
 }
}

@media only screen and (max-width: 1200px) {
  .welcome{
    font-size: 80%;
  }
  #w1 {
    width: 170px;
  }
  #w2 {
    width: 205px;
  }
  #my-svg {
    height: 25px;
    width: 25px;
  }
  #w1 {
    line-height: 20px;  
  }
  .vidn, .vt {
    width: 40%
  }
  #pn1 {
    left: 1.5%;
  }
  #pn2 {
    right: 1.5%;
  }
  .www {
    width: 98%;
  }
}

@media only screen and (max-width: 1200px) and (orientation: landscape) {
  #pn1 {
    left: 2.5%;
  }
  #pn2 {
    right: 2.5%;
  }
}

@media only screen and (max-width: 992px) {
  #w1 {
    width: 140px;
  }
  #w2 {
    width: 185px;
  }
  .card {
    padding: 75px 0;
  }
  .card1 p {
    height: initial;
    padding: 40px;
  }
  .card1 {
    padding: 2.5% 0;
    width: 88%;
    height: initial;
  }
  .vid {
    top: -4px;
    padding: 5% 0;
    background-color: $c12;
  }
  .vidn {
    border-radius: 0;
  }
  .info {
    height: initial;
    margin: 0;
  }
  .info0,
  .info2 {
    float: none;
    margin: 0;
  }
  .info0 {
    background-color: $c11;
    display: flex;
    justify-content: center;
    flex-direction: column;    
    height: 250px;
    width: 100%;
    box-shadow: inset 0px -7.5px 7.5px -7.5px $c2;
  }

  .info1 {
    margin-top: 0;
    width: 150px;
    height: 60%;
  }
  .info2 {
    padding: 5%;
    width: 90%;
  }
}
