@import "../Variables.scss";

/* silde */

.slideHome img {
  max-width: 1200px;
  height: calc(100vh - 485px);
  min-height: 400px;
  width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: left;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 0 2px $c6;
  @media only screen and (max-width: 1200px) {
    max-width: initial;
    height: 40vh;
  }
}

/* welcome */

.welcome {
  position: absolute;
  margin: 2% 0 0 calc(52% - 600px);
  z-index: 997;
  font-size: x-large;
  animation: slide1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: flex;
  right: 0;
  left: 0;
  flex-direction: column;
  @media only screen and (max-width: 1200px) {
    margin: 20px auto auto 4%;
    font-size: medium;
  }
  @media only screen and (max-width: 640px) {
    font-size: small;
  }
  #welcomeOne {
    font-family: $font3;
    margin: 0;
    padding: 2px 4px;
    font-weight: 500;
    color: $c3;
    background-color: $c9;
    border-radius: 5px;
    line-height: 35px;
    display: flex;
    width: fit-content;
    @media only screen and (max-width: 1200px) {
      line-height: 25px;
    }
    #my-svg svg {
      stroke: $c3;
      stroke-width: 13;
      fill: none;
      vertical-align: bottom;
      overflow: visible;
      @media only screen and (max-width: 1200px) {
        width: 25px;
        height: 25px;
      }
    }
  }
  #welcomeTwo {
    background-color: $c9;
    border-radius: 5px;
    margin: 8px 0 0 8px;
    padding: 47px 80px;
    background-image: url(https://candid.s3.ap-southeast-2.amazonaws.com/welcome.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition:
      transform 0.3s linear,
      background-color 0.3s linear;
    transform: translate(0, 0);
    width: fit-content;
    @media only screen and (max-width: 1200px) {
      padding: 35px 59px;
    }
    &:hover {
      transform: translate(4%, 2%);
      background-color: $c8;
    }
  }
}

/* overlay expanded */

.overlayExpanded {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transform: translateX(100%);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.03, 0.5, 0.25, 0.6);
  background-color: $c1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-90deg, $c6 50%, $c1 50%);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  scrollbar-color: $c13 transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $c13;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  @media only screen and (max-width: 640px) {
    overflow-y: hidden;
  }
  > * {
    will-change: opacity;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.03, 0.5, 0.25, 0.6);
  }
  .overlayInner {
    background-color: $c5;
    display: flex;
    flex-wrap: wrap;
    background-image: url(https://candid.s3.ap-southeast-2.amazonaws.com/texture.png);
    background-blend-mode: color;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    @media only screen and (max-width: 1200px) {
      width: 90%;
    }
    @media only screen and (max-width: 640px) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: nowrap;
      overflow-y: auto;
    }
  }
  .overlayHeading {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    @media only screen and (max-width: 640px) {
      position: sticky;
      top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  .overlayClose {
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
    transition: color 0.2s ease-in-out;
    color: $c6;
    &:hover {
      color: $c8;
    }
    &:focus {
      color: $c6;
    }
  }
  .scrollCont {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    scrollbar-color: $c13 transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: $c13;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    img {
      max-height: 100%;
      width: 42.5%;
      box-shadow: 0 0 1px $c1;
      border-radius: 3.75px;
      object-fit: cover;
      margin: 50px 0;
      @media only screen and (max-width: 640px) {
        width: 80%;
      }
      &:nth-child(1) {
        @media only screen and (max-width: 640px) {
          margin: 50px 0 0 0;
        }
      }
    }
  }
  .buttonCont {
    background-color: $c13;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
  }
  .overlayNext {
    border: none;
    background-color: transparent;
    transition: color 0.2s ease-in-out;
    font-size: 20px;
    padding: 10px;
    color: $c6;
    &:hover {
      color: $c8;
    }
    &:focus {
      color: $c6;
    }
  }
  &.fixed {
    transform: translateX(0);
    > * {
      opacity: 1;
    }
  }
  &.fixed-delay {
    transition-delay: 0.5s;
    transform: translateX(0);
    > * {
      opacity: 1;
    }
  }
}

/* overlay backdrop */

.overlayBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparentize($c5, 0.95);
  transition: background-color 0.5s cubic-bezier(0.66, 0.01, 0.27, 0.84);
  z-index: 998;
  box-sizing: border-box;
  transform: translateX(100%);
  &.overlay-transition {
    transform: translateX(0);
    background-color: transparentize($c5, 0.75);
  }
}

/* overlay */

.overlay {
  margin: auto;
  width: 100%;
  position: relative;
  top: -140px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1200px) {
    width: 90%;
    top: -75px;
  }
  @media only screen and (max-width: 640px) {
    width: 100%;
    top: 0;
    align-items: center;
  }
  .containerImg {
    display: none;
    width: 775px;
    margin: auto;
    cursor: pointer;
    @media only screen and (max-width: 1200px) {
      width: 72.5%;
    }
    @media only screen and (max-width: 640px) {
      background-color: $c12;
      margin: 7.5% auto;
      width: 75%;
    }
    &.grey img {
      filter: grayscale(75%);
      opacity: 0.9;
    }
    &:hover .expandImg {
      color: $c7;
    }
    &:focus .expandImg {
      color: $c4;
    }
  }
  .expandImg {
    vertical-align: sub;
    font-size: 1em;
    color: $c13;
    display: none;
    align-self: flex-end;
    transition: color 0.2s ease-in-out;
    margin: 0 auto;
    @media only screen and (max-width: 1200px) {
      align-self: center;
    }
    @media only screen and (max-width: 640px) {
      margin: 20px 0;
    }
  }
  .fillImg {
    max-width: 300px;
    width: 40%;
    background-color: $c6;
    display: flex;
    box-shadow: 0 0 2px $c6;
    overflow: hidden;
    @media only screen and (max-width: 640px) {
      width: 100%;
      margin: 5% 0;
      max-width: initial;
    }
  }
  .fillImg:nth-child(1) {
    border-top-right-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 25px;
    @media only screen and (max-width: 640px) {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;
    }
  }
  .fillImg:nth-child(3) {
    border-top-right-radius: 25px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 5px;
    @media only screen and (max-width: 640px) {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;
    }
  }
  .overlayImg {
    width: 100%;
    object-fit: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition:
      filter 0.3s linear,
      opacity 0.3s linear;
    opacity: 1;
    will-change: opacity, filter;
    background-image: linear-gradient(-90deg, $c1 0%, $c6 50%);
    filter: grayscale(0%);
    @media only screen and (max-width: 640px) {
      height: 70vw;
    }
  }
  .flex {
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 640px) {
      flex-direction: column;
      align-items: center;
    }
  }
  #left {
    left: calc(50% - 500px);
    @media only screen and (max-width: 1200px) {
      left: 1%;
    }
    @media only screen and (max-width: 640px) {
      left: 0.5%;
    }
  }
  #right {
    right: calc(50% - 500px);
    @media only screen and (max-width: 1200px) {
      right: 1%;
    }
    @media only screen and (max-width: 640px) {
      right: 0.5%;
    }
  }
  #left,
  #right {
    position: absolute;
    top: 65%;
    opacity: 0.75;
    transition: fill 0.2s ease-in-out;
    width: 40px;
    height: 40px;
    fill: $c4;
    cursor: pointer;
    @media only screen and (max-width: 640px) {
      top: initial;
      width: 12%;
    }
    &:hover {
      fill: $c7;
    }
    &:focus {
      fill: $c4;
    }
  }
}

/* info */

.info {
  box-shadow: 0 0 7.5px $c2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media only screen and (max-width: 992px) {
    padding-bottom: 5%;
    flex-direction: column-reverse;
  }
  .infoOne {
    display: flex;
    width: 17%;
    min-width: 280px;
    img {
      width: 100%;
      height: 100%;
      object-position: bottom;
      object-fit: cover;
      position: relative;
      clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
      @media only screen and (max-width: 992px) {
        margin: 25px auto;
        width: 150px;
        height: 150px;
        min-width: inital;
        object-position: center;
        object-fit: contain;
        clip-path: initial;
        border: 2px solid $c13;
        border-radius: 100%;
      }
    }
  }
  .infoTwo {
    width: 57.7%;
    color: $c3;
    @media only screen and (max-width: 1200px) {
      margin-right: 5%;
    }
    @media only screen and (max-width: 992px) {
      margin: 0;
      padding-top: 5%;
      width: 90%;
    }
    svg {
      color: $c2;
      margin: 0 10px;
    }
    h1 {
      width: 100%;
      text-align: right;
      font-family: $font2;
      color: $c3;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }
    p {
      color: $c3;
      padding: 3%;
      text-align: center;
      font-style: oblique;
      font-family: $font4;
      @media only screen and (max-width: 1200px) {
        br {
          display: none;
        }
      }
    }
  }
}

/* card */

.card {
  max-width: 1312px;
  padding: 125px 2%;
  z-index: 998;
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin: auto;
  span img {
    margin-left: 10px;
    vertical-align: middle;
  }
  hr {
    width: 100%;
  }
  p {
    margin: 0 auto 3% auto;
    padding: 0 15px;
    text-align: center;
    font-family: $font3;
    font-weight: 500;
    text-shadow: 0 0 0.5px $c9;
  }
  h2 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: $font2;
    font-weight: 500;
    display: inline;
  }
  .cardOne {
    max-width: 339px;
    margin: auto;
    color: $c3;
    padding: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    a {
      color: $c2;
      float: left;
      margin-left: 30px;
      width: 30px;
      font-weight: 900;
      font-size: 15px;
      height: 24px;
      &:hover {
        color: $c8;
      }
    }
    svg:nth-child(4) {
      color: $c2;
      float: left;
      margin-left: 30px;
    }
    svg:nth-child(5) {
      color: $c3;
      font-size: 50px;
      align-self: center;
    }
  }
  .cardTwo {
    align-self: flex-end;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

/* enq */

.enquiry {
  background-color: $c5;
  background-image: url(https://candid.s3.ap-southeast-2.amazonaws.com/texture.png);
  background-blend-mode: color;
  h2 {
    font-family: $font1;
    color: $c1;
    float: right;
    margin: 0;
    padding-right: 20px;
    line-height: 40px;
    font-size: inherit;
    font-weight: 500;
  }
  .MuiFormControl-root {
    @media only screen and (max-width: 1200px) {
      display: flex;
    }
  }
  .react-select__menu-list,
  .MuiInputBase-multiline {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: $c3 transparent;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: $c3;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
  .button {
    background-image: url(https://candid.s3.ap-southeast-2.amazonaws.com/texture.png);
    background-blend-mode: color-burn;
  }
}

@keyframes slide1 {
  0% {
    transform: translate(-10px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
