/* silde */

.slick-slide img {
  width: 100%;
  min-height: 250px;
}

/* welcome */

.welcome {
  position: absolute;
  margin: 2.5% 0 0 5%;
  z-index: 997;
}

#w1 {
  color: black;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  width: 34%;
  animation: slide1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  padding: 0 1%;
  min-width: 200px;
}

#w1 h2 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  display: inline-block;
  margin: 0;
  font-weight: 600;
}

#w2 {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  animation: slide2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin: 2% 0 0 1%;
  width: 36%;
  padding: 2.5%;
  min-width: 200px;
}

#w2 h3 {
  color: black;

  margin: 0;
}

.welcome h3:hover {
  text-decoration: underline;
  animation: slide2;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

/* vid */

.vid {
  text-align: center;
  margin: auto;
  width: 100%;
  position: relative;
  top: -115px;
}

.vid1 {
  background-image: url("./pics/v1.jpg");
}

.vid2 {
  background-image: url("./pics/v2.jpg");
}

.vid3 {
  background-image: url("./pics/v3.jpg");
}

.vid4 {
  background-image: url("./pics/v4.jpg");
}

.vid1,
.vid2,
.vid3,
.vid4 {
  margin: 0 2.5% 0 2.5%;
  text-align: center;
  border-radius: 7.5px;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10.5%;
  box-shadow: 0 0 1.5px white;
}

.flip {
  animation: flip 1s ease-in-out;
}

.vt {
  background-color: rgba(255,255,255,0.4);
  position: absolute;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: black;
  width: 21%;
  top: 9.4%;
  padding: 0;
  margin-left: 2.5%;
  cursor: pointer;
}

.vt:hover {
  color: red;
}

#pn1:hover,
#pn2:hover {
  color: red;
}

.iv {
  position: relative;
  top: 4px;
  padding: 0 2.5px;
}

#pn1,
#pn2 {
  position: absolute;
  top: 50%;
  color: black;

  opacity: 0.7;
}

#pn1 {
  left: 12.5%;
}

#pn2 {
  right: 12.5%;
}

/* info */

.info {
  height: 500px;
  background-color: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.info0 {
  height: 100%;
  width: 200px;
  float: left;
  margin-left: 10%;
  background-color: #fff;
  box-shadow: -20px 0 20px -20px rgba(0, 0, 0, 0.5),
    20px 0 20px -20px rgba(0, 0, 0, 0.5);
}

.info1 {
  margin-top: 35%;
  width: 81.63%;
  height: 32.65%;
  border: 7.5px solid #2d2d2d;
  background-image: url("./pics/info1.jpg");
  background-position: center;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.info2 {
  width: 58.5%;
  color: rgba(0, 0, 0, 0.9);
  float: left;
  margin-top: 5%;
  margin-left: 6%;
}

#inf {
  float: right;
  color: black;
  margin-right: 50px;
  margin-top: 10px;
}

.info2 h4 {
  width: 70%;
  font-family: "Impact, Charcoal, sans-serif";
  color: black;
  font-weight: bold;
  margin-left: 10px;
  padding: 0px;
}

.info2 p {
  color: white;
  background-color: #2d2d2d;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 25px;
  text-align: center;
}

/* card */

.card {
  max-width: 1312px;
  padding: 125px 5%;
  z-index: 998;
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin: auto;
}

.card p {
  padding: 26px;
  text-align: center;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-shadow: 0.7px 0.7 0.7 grey;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.cardi {
  color: rgba(0, 0, 0, 0.644);
  float: left;
  margin-left: 30px;
}

.cardf {
  color: black;
  transform: scale(3.5);
  margin-left: calc(50% - 72px);
}

.cardff {
  color: black;
  transform: scale(3.5);
  margin-left: calc(50% - 66px);
}

.card1 a {
  color: rgba(0, 0, 0, 0.644);
  float: left;
  margin-left: 30px;
  width: 30px;
  font-weight: 900;
  font-size: 15px;
}

.card1 a:hover {
  color: purple;
}

.card span img {
  margin-left: 10px;
}

.card span {
  float: right;
  font-family: "Impact, Charcoal, sans-serif";
  height: 60px;
  font-weight: 600;
  text-align: right;
}

.card1 {
  width: 350px;
  margin: auto;
  color: black;
  padding: 2.5% 20px;
}

.card2 {
  height: 60px;
}

/* inq */

.inq {
  background-color: #2d2d2d;
  margin-top: 10px;
}
.www {
  width: 20%;
}

.react-select__menu-list {
  scrollbar-face-color: black;
  scrollbar-track-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: black white;
}

.MuiFilledInput-multiline {
  scrollbar-face-color: black;
  scrollbar-track-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: black white;
}

.react-select__menu-list::-webkit-scrollbar,
.MuiFilledInput-multiline::-webkit-scrollbar {
  width: 10px;
}

.react-select__menu-list::-webkit-scrollbar-thumb,
.MuiFilledInput-multiline::-webkit-scrollbar-thumb {
  background: black;
}

.react-select__menu-list::-webkit-scrollbar-track,
.MuiFilledInput-multiline::-webkit-scrollbar-track {
  background: white;
}

.react-select__menu-list::-webkit-scrollbar-thumb:hover,
.MuiFilledInput-multiline::-webkit-scrollbar-thumb:hover {
  background: red;
}

@keyframes slide1 {
  0% {
    transform: translate(-20px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes flip {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(0.985);
    opacity: 0.95;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .vt {
    width: 40%;
  }
  #pn1 {
    left: 0.5%;
  }
  #pn2 {
    right: 0.5%;
  }
  .vid1,
  .vid2,
  .vid3,
  .vid4 {
    padding: 20%;
  }
  .www {
    width: 98%;
  }
}

@media only screen and (max-width: 992px) {
  .card {
    padding: 75px 0;
  }
  .card1 p {
    height: initial;
    padding: 40px;
  }
  .card1 {
    padding: 1% 0;
    width: 88%;
  }
  .vid {
    top: -4px;
    padding: 5% 0;
  }
  .vid1,
  .vid2,
  .vid3,
  .vid4 {
    border-radius: 0;
  }
  .info {
    height: initial;
    margin: 0;
  }
  .info0,
  .info2 {
    float: none;
    margin: 0;
  }
  .info0 {
    height: 300px;
    width: 100%;
    background-color: lightgrey;
    padding-top: 80px;
  }
  .info1 {
    margin-top: 0;
    width: 200px;
    height: 66.67%;
  }
  .info2 {
    padding: 5%;
    width: 90%;
  }
}
