@import "../Variables.scss";

/* silde */

.slick-slide img {
  max-width: 1200px;
  height: 100%;
  min-height: 300px;
  width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: left;
  border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* welcome */

.welcome {
  position: absolute;
  margin: 2% 0 0 calc(52% - 600px);
  z-index: 997;
  font-size: x-large;
  animation: slide1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: flex;
  right: 0;
  left: 0;
  flex-direction: column;
  @media only screen and (max-width: 1200px) {
    margin: 20px auto auto 4%;
    font-size: medium;
  }
  @media only screen and (max-width: 640px) {
    font-size: small;
  }
  #welcomeOne {
    font-family: $font3;
    margin: 0;
    padding: 2px 4px;
    font-weight: 500;
    color: $c3;
    background-color: $c9;
    border-radius: 5px;
    line-height: 35px;
    display: flex;
    width: fit-content;
    @media only screen and (max-width: 1200px) {
      line-height: 25px;
    }
    #my-svg svg {
      stroke: $c3;
      stroke-width: 13;
      fill: none;
      vertical-align: bottom;
      overflow: visible;
      @media only screen and (max-width: 1200px) {
        width: 25px;
        height: 25px;
      }
    }
  }
  #welcomeTwo {
    background-color: $c9;
    border-radius: 5px;
    margin: 8px 0 0 8px;
    padding: 47px 80px;
    background-image: url(https://candid.s3.ap-southeast-2.amazonaws.com/welcome.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition:
      transform 0.3s linear,
      background-color 0.3s linear;
    transform: translate(0, 0);
    width: fit-content;
    @media only screen and (max-width: 1200px) {
      padding: 35px 59px;
    }
    &:hover {
      transform: translate(4%, 2%);
      background-color: $c8;
    }
  }
}

/* overlay */

.overlay {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transform: translateX(100%);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.03, 0.5, 0.25, 0.6);
  padding-bottom: 56.25%;
  background-color: $c1;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @media only screen and (min-width: 1201px) {
      object-fit: cover;
    }
  }
  .controlls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    &::after {
      position: absolute;
      content: "";
      background-image: linear-gradient(-90deg, $c1 0%, $c6 50%);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
    button {
      border: none;
      background-color: transparent;
      float: right;
      font-size: 20px;
      margin-right: 1.25rem;
      margin-top: 1.25rem;
      &:hover,
      &:focus {
        color: $c8;
      }
    }
  }
  &.fixed {
    transform: translateX(0);
  }
}

/* vid */

.video {
  margin: auto;
  width: 100%;
  position: relative;
  top: -125px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1200px) {
    top: -90px;
    width: 90%;
  }
  @media only screen and (max-width: 640px) {
    top: 0;
    padding: 5% 0;
    background-color: $c12;
    margin: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  div {
    display: none;
    flex-direction: column;
    width: 33%;
    align-items: center;
    max-width: 300px;
    margin: 0 3.3%;
    background-color: $c6;
    box-shadow: 0 0 1px $c1;
    border-radius: 3.75px;
    overflow: hidden;
    @media only screen and (max-width: 640px) {
      width: 72.5%;
      margin: 5% 0;
      max-width: initial;
    }
  }
  .videoImg {
    width: 100%;
    height: inherit;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: filter 0.3s linear, opacity 0.3s linear;
    opacity: 1;
    filter: grayscale(0%);
    @media only screen and (max-width: 640px) {
      object-fit: cover;
      height: 50vw;
    }
    &.grey {
      filter: grayscale(75%);
      opacity: 0.9;
    }
  }
  .videoLink {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: $c11;
    font-family: $font3;
    color: $c3;
    transition: 0.2s ease-in-out color;
    cursor: pointer;
    font-style: italic;
    padding: 5px 5%;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: url(https://candid.s3.ap-southeast-2.amazonaws.com/texture.png);
    background-blend-mode: color-burn;
    &:hover {
      color: $c7;
    }
  }
  .flex {
    display: flex;
  }
  #left {
    left: calc(50% - 600px);
    @media only screen and (max-width: 1200px) {
      left: 1%;
    }
    @media only screen and (max-width: 640px) {
      left: 0.5%;
    }
  }
  #right {
    right: calc(50% - 600px);
    @media only screen and (max-width: 1200px) {
      right: 1%;
    }
    @media only screen and (max-width: 640px) {
      right: 0.5%;
    }
  }
  #left,
  #right {
    position: absolute;
    top: 65%;
    color: $c4;
    opacity: 0.75;
    transition: fill 0.2s ease-in-out;
    width: 40px;
    height: 40px;
    fill: $c4;
    @media only screen and (max-width: 640px) {
      top: initial;
      width: 12%;
    }
    &:hover {
      fill: $c7;
    }
  }
  svg {
    vertical-align: sub;
    font-size: 1.25em;
  }
}

/* info */

.info {
  box-shadow: 0 0 7.5px $c2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media only screen and (max-width: 992px) {
    padding-bottom: 5%;
    flex-direction: column-reverse;
  }
  .infoOne {
    display: flex;
    width: 17%;
    min-width: 280px;
    img {
      width: 100%;
      height: 100%;
      object-position: bottom;
      object-fit: cover;
      position: relative;
      clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
      @media only screen and (max-width: 992px) {
        margin: 25px auto;
        width: 150px;
        height: 150px;
        min-width: inital;
        object-position: center;
        object-fit: contain;
        clip-path: initial;
        border: 2px solid $c13;
        border-radius: 100%;
      }
    }
  }
  .infoTwo {
    width: 57.7%;
    color: $c3;
    @media only screen and (max-width: 1200px) {
      margin-right: 5%;
    }
    @media only screen and (max-width: 992px) {
      margin: 0;
      padding-top: 5%;
      width: 90%;
    }
    svg {
      color: $c2;
      margin: 0 10px;
    }
    h1 {
      width: 100%;
      text-align: right;
      font-family: $font2;
      color: $c3;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }
    p {
      color: $c3;
      padding: 3%;
      text-align: center;
      font-style: oblique;
      font-family: $font4;
      @media only screen and (max-width: 1200px) {
        br {
          display: none;
        }
      }
    }
  }
}

/* card */

.card {
  max-width: 1312px;
  padding: 125px 2%;
  z-index: 998;
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin: auto;
  span img {
    margin-left: 10px;
    vertical-align: middle;
  }
  hr {
    width: 100%;
  }
  p {
    margin: 0 auto 3% auto;
    padding: 0 15px;
    text-align: center;
    font-family: $font3;
    font-weight: 500;
    text-shadow: 0 0 0.5px $c9;
  }
  h2 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: $font2;
    font-weight: 500;
    display: inline;
  }
  .cardOne {
    max-width: 339px;
    margin: auto;
    color: $c3;
    padding: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    a {
      color: $c2;
      float: left;
      margin-left: 30px;
      width: 30px;
      font-weight: 900;
      font-size: 15px;
      height: 24px;
      &:hover {
        color: $c8;
      }
    }
    svg:nth-child(4) {
      color: $c2;
      float: left;
      margin-left: 30px;
    }
    svg:nth-child(5) {
      color: $c3;
      font-size: 50px;
      align-self: center;
    }
  }
  .cardTwo {
    align-self: flex-end;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

/* enq */

.enquiry {
  background-color: $c5;
  background-image: url(https://candid.s3.ap-southeast-2.amazonaws.com/texture.png);
  background-blend-mode: color;
  h2 {
    font-family: $font1;
    color: $c1;
    float: right;
    margin: 0;
    padding-right: 20px;
    line-height: 40px;
    font-size: inherit;
    font-weight: 500;
  }
  .MuiFormControl-root {
    @media only screen and (max-width: 1200px) {
      display: flex;
    }
  }
  .react-select__menu-list,
  .MuiInputBase-multiline {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: $c3 transparent;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: $c3;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $c7;
    }
  }
  .button {
    background-image: url(https://candid.s3.ap-southeast-2.amazonaws.com/texture.png);
    background-blend-mode: color-burn;
  }
}

@keyframes slide1 {
  0% {
    transform: translate(-10px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
