@import "../Variables.scss";

/* draw  */

.barDraw {
  position: absolute;
  z-index: 999;
  margin: 25px 0 0 25px;
  transform: scale(1.8);
}

.barDraw:hover {
  cursor: pointer;
}

.menuDraw {
  position: absolute;
  width: 200px;
  background-color: $c1;
  border-right: 1.5px solid $c9;
  border-bottom: 1.5px solid $c9;
  animation: slide;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  z-index: 998;
  text-align: center;
  padding-top: 87px;
  font-size: 5px;
  font-family: $font4;
}

.menuDraw div button {
  width: 100%;
  font-size: 25px;
  color: $c3;
  cursor: pointer;
  background-color: $c1;
  border: none;
  padding: 10px 0;
}

#homI {
  color: $c3;
  transform: scale(1.75);
  position: absolute;
  right: 30px;
  top: 40px;
}

#homI:hover {
  color:$c10;
  cursor: pointer;
}

.menuDraw div button:hover {
  color:$c10;
}

.menuDraw div a,
.menuDraw div span {
  color: $c3;
  text-decoration: none;
  font-size: 20px;
}

.menuDraw div a:hover {
  color:$c10;
}

.phI {
  transform: scale(0.8);
}
.menuDraw img {
  padding: 10px 0;
}

/* header  */

header {
  width: 100%;
  height: 90px;
  background-image: linear-gradient(0deg, $c11 70%, $c6 95%);
}

header img {
  padding-left: 85px;
  position: relative;
  top: 25px;
}

/* menu  */

.menu {
  width: calc(100% - 50px);
  height: 70px;
  background-color: $c3;
  z-index: 999;
  color: $c1;
  font-family: $font4;
  padding-left: 50px;
}

.menu button {
  font-size: 17.5px;
  color: $c1;
  background-color: $c3;
  border: none;
  cursor: pointer;
  margin: 22px;
}

.menu span {
  margin: 0 8px;
}

.menu a {
  color: $c1;
  text-decoration: none;
  margin: 0 8px;
}

.menu a:hover {
  color:$c10;
}

.mMove0 {
  float: right;
  padding-top: 10px;
  font-size: 17.5px;
}

.apI {
  padding-top: 12px;
  margin-bottom: -4px;
}

#homIa {
  padding-top: 12px;
  margin: 0 15px 0 10px;
}

#homIa:hover {
  color:$c10;
  cursor: pointer;
}

.menu button:hover {
  color:$c10;
}

@keyframes slide {
  0% {
    transform: translate(-200px);
  }
  100% {
    transform: translate(0);
  }
}

@media only screen and (min-width: 1200px) {
  .barDraw,
  .menuDraw {
    display: none !important;
  }
}

@media only screen and (max-width: 1200px) {
  .menu {
    display: none !important;
  }
}
