@import "../Variables.scss";

/* header  */

header {
  width: 100%;
  height: 90px;
  background-image: linear-gradient(-90deg, $c1 0%, $c6 50%);
  a {
    margin-left: 85px;
    padding-right: initial;
    position: relative;
    display: block;
    top: 24px;
    width: 200px;
    height: 46px;
    float: none;
    @media only screen and (max-width: 1200px) {
      float: right;
      top: 32px;
      margin-right: 20px;
      width: 140px;
      height: 32px;
    }
    @media only screen and (min-width: 1921px) {
      margin-left: calc(50vw - 960px);
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

/* mobile nav  */

.burgerMenu {
  position: absolute;
  z-index: 999;
  padding: 28.5px 148.5px 28.5px 26.5px;
  box-sizing: border-box;
  height: fit-content;
  @media only screen and (min-width: 1201px) {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.mobileNav {
  position: absolute;
  width: 200px;
  background-image: linear-gradient(-90deg, $c1 0%, $c6 50%);
  border-right: 1.5px solid $c9;
  border-bottom: 1.5px solid $c9;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  z-index: 998;
  text-align: center;
  transform: translate(-202px);
  font-size: 5px;
  font-family: $font4;
  margin-top: 90px;
  @media only screen and (min-width: 1201px) {
    visibility: hidden;
  }
  &.slide {
    animation: slide;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
  }
  &.out {
    animation: out;
    animation-duration: 0.6s;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    hr {
      margin-top: 0;
    }
    a {
      width: 100%;
      font-size: initial;
      color: $c3;
      cursor: pointer;
      border: none;
      display: block;
      text-decoration: none;
      outline: none;
      padding: 10px 0;
      &:hover {
        color: $c10;
      }
    }
    svg {
      padding: 10px 0;
    }
  }
  ul:nth-child(1) li:nth-child(2) {
    text-align: right;
    svg {
      margin-right: 20px;
      font-size: 24px;
      padding: 0;
    }
  }
  ul:nth-child(2) {
    span {
      color: $c3;
      text-decoration: none;
      font-size: initial;
    }
  }
}

/* main nav  */

.mainNav {
  width: 100%;
  height: 60px;
  background-color: $c3;
  background-image: url(./img/handmade-paper.png);
  background-blend-mode: color-burn;
  z-index: 999;
  color: $c1;
  font-family: $font4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height 1s;
  @media only screen and (max-width: 1200px) {
    display: none;
  }
  ul {
    font-size: 17.5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    &:nth-child(1) {
      padding-left: 50px;
      width: 475px;
      display: flex;
      justify-content: space-around;
      @media only screen and (min-width: 1921px) {
        padding-left: calc(50vw - 910px);
      }
    }
    &:nth-child(2) {
      li {
        display: inline;
      }
      @media only screen and (min-width: 1921px) {
        padding-right: calc(50vw - 960px);
      }
      span {
        margin: 0 19px;
      }
      svg {
        vertical-align: text-bottom;
      }
    }
    a {
      text-decoration: none;
      color: $c1;
      background-color: $c3;
      border: none;
      cursor: pointer;
      outline: none;
      margin: 0 19px;
      &:hover {
        color: $c10;
      }
    }
  }
  @media only screen and (min-width: 1201px) {
    &.navRelative {
      position: relative;
      height: 60px;
      transition: height 0.25s;
    }
    &.navFixed {
      position: fixed;
      top: 0;
      height: 40px;
      transition: height 1s;
    }
  }
}

@keyframes slide {
  0% {
    transform: translate(-202px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes out {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-202px);
  }
}
