@import "../Variables.scss";

.svg {
  color: $c1;
  background-color: $c5;
  border: 2px solid $c2;
  max-width: 1200px;
  margin: auto auto 60px auto;
  background-image: url(./img/handmade-paper.png);
  background-blend-mode: color;
  contain: paint;
  @media only screen and (max-width: 1365px) {
    width: 92%;
    margin: 4% auto 4% auto;
  }
  .sticky {
    position: sticky;
    height: 200px;
    background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/svg0.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    width: 100%;
  }
  .prop {
    font-family: $font3;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 50px;
    font-weight: 500;
    position: relative;
    z-index: 999;
  }
  .wave {
    opacity: 0.9;
    height: 130px;
    background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/svg.svg");
    animation: wave 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  }
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
}
