@import "../Variables.scss";

.svg {
  color: $c1;
  background-color: $c5;
  border: 2px solid $c2;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: auto auto 0.25% auto;
  @media only screen and (max-width: 1365px) {
    width: 92%;
     margin: 4% auto 4% auto;
  }
}
.prop {
  font-family: $font3;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
  font-weight: 500;
  position: relative;
  z-index: 4;
}

.wave0 {
  background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/svg0.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  position: sticky;
  background-position: center;
  z-index: 3;
}

.wave {
  

  height: 130px;
position: relative;
 overflow: hidden;
  &::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 130px;
    background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/svg.svg");
    animation: wave 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  }
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}