@import "../Variables.scss";

.svg {
  color: $c1;
  background-color: $c5;
  border: 2px solid $c2;
  position: relative;
  z-index: 2;
}
.prop {
  font-family: $font3;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
  font-weight: 500;
  position: relative;
  z-index: 4;
}

.wave0 {
  background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/svg0.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: sticky;
  z-index: 3;
}

.wave {
  background-image: url("https://candid.s3-ap-southeast-2.amazonaws.com/svg.svg");
  background-repeat: repeat;
  background-size: 1600px;
  height: 198px;
  animation: wave 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
